apiVersion: integreatly.org/v1alpha1
kind: Grafana
metadata:
  name: grafana-instance
  namespace: ml
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  ingress:
    enabled: true
  config:
    log:
      mode: "console"
      level: "warn"
    security:
      admin_user: admin
      admin_password: admin
