apiVersion: batch/v1
kind: CronJob
metadata:
  name: grafana-token-refresher
  namespace: monitoring-tools
spec:
  schedule: "*/30 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: grafana-token-refresher
          containers:
            - name: refresh-token
              image: quay.io/openshift/origin-cli:latest
              command:
                - /bin/sh
                - -c
                - |
                  TOKEN=$(oc create token grafana-sa -n monitoring-tools)
                  oc patch secret prometheus-token -n monitoring-tools \
                    --type=merge -p "{\"stringData\":{\"PROM_TOKEN\":\"$TOKEN\"}}"
          restartPolicy: OnFailure

