apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring-tools

resources:
  - namespace.yaml

  # Grafana
  - grafana/

  # OpenTelemetry Collector
  - open-telemetry/

  # MLflow
  - mlflow/

configMapGenerator:
  - name: grafana-dashboard-mlflow
    files:
      - grafana/dashboards/mlflow-training-dashboard.json

  - name: grafana-dashboard-vllm
    files:
      - grafana/dashboards/vllm-dashboard.json

generatorOptions:
  disableNameSuffixHash: true
