apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring-tools

resources:
  # Manifest principali nella cartella grafana/
  - grafana/grafana.yaml
  - grafana/grafana-ds-prometheus.yaml
  - grafana/grafana-ds-mlflow.yaml
  - grafana/grafana-dashboard-providers.yaml
  - grafana/secret-prometheus-token.yaml
  - grafana/sa-token-refresher.yaml
  - grafana/rbac-token-refresher.yaml
  - grafana/cronjob-token-refresher.yaml

  # Altri manifest del progetto
  - namespace.yaml
  - application.yaml

configMapGenerator:
  - name: grafana-dashboard-mlflow
    files:
      - dashboards/mlflow-training-dashboard.json

  - name: grafana-dashboard-vllm
    files:
      - dashboards/vllm-dashboard.json

generatorOptions:
  disableNameSuffixHash: true
