apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mlflow

resources:
  - grafana.yaml
  - mlflow-server.yaml
  - postgresql.yaml

configMapGenerator:
  - name: grafana-dashboard-mlflow
    namespace: mlflow
    files:
      - dashboards/mlflow-training-dashboard.json
      - dashboards/vllm-dashboard.json

generatorOptions:
  disableNameSuffixHash: true
